.textblock {
    /*background-color: #e8d7b2;*/
    background-clip: border-box;
    /*border: 1px solid rgb(50, 119, 197);*/
    border-radius: 0.50rem;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(85, 83, 83);
}